
<div class="modal-body ">
    <div class="col-8">
        <form>
            <div class="form-group">
                <label>Nome</label>
                <input type="text" name="nome" id="nome" class="form-control" [(ngModel)]="produto.nome"
                    placeholder="Nome do produto">
            </div>

            <div class="form-group">
                <label>Quantidade</label>
                <input type="number" class="form-control" name="quantidade" placeholder="Quantidade do produto" [(ngModel)]="produto.quantidade" id="quantidade">
            </div>

            <div class="form-group">
                <label>Preço</label>
                <input type="number" class="form-control" name="preco" id="preco" [(ngModel)]="produto.preco" placeholder="Preço do produto">
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-warning btn-sm" data-bs-dismiss="modal" (click)="editar()"
        *ngIf="!cadastrando">Atualizar</button>
    <button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="cadastrar()"
        *ngIf="cadastrando">Cadastrar</button>
</div>